<!DOCTYPE html>
<html>
<head> 
  <script src="/socket.io/socket.io.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  
  <style>
  </style>
  
  
</head>
<body>
  <div id="nav-placeholder">
  </div>
  <!-- <h1>This is the POD page. The ID of this game session is <%= sid %></h1> -->

  <div class="row justify-content-md-center">
    <div class="col col-lg-2"></div>
    <div class="col col-md-auto">

      <div id="content">
	    <%- include(page, {game: game, player: player, choices: choices}); %>
      </div>
  
      <div id="resultsscreen">
        <%- include("results", {}); %>
      </div>
  
    </div>
    <div class="col col-lg-2"></div>
  </div>

  <script>
  
    var mychoices = [];
  
    var round;
  
    jQuery(document).ready(function($) {
      $("#nav-placeholder").load("nav.ejs", function() {
        $(".nav").find(".active").removeClass("active");
      });
      
      $("#matchingscreen").show();
      $("#playscreen").hide();
      $("#waitingscreen").hide();
      $("#resultsscreen").hide();
      $("#playerleftscreen").hide();
      
      round = 1;
      
    });
    
    var socket = io();
    
    var gameroom;
    var role;
    socket.on('start game', function(data) {
      role = data.role;
      gameroom = data.room;
      if (role === "Hider") {
        $("#playscreen").show();
        $("#waitingscreen").hide();
      } else {
        $("#playscreen").hide();
        $("#waitingscreen").show();
      }
      $("#matchingscreen").hide();
      $("#playername").html(role);
      $("#gamename").html("Evade");
    });
    
    window.addEventListener( "pageshow", function ( event ) {
      var historyTraversal = event.persisted || 
                         ( typeof window.performance != "undefined" && 
                              window.performance.navigation.type === 2 );
      if ( historyTraversal ) {
        window.location.href = '/';
      }
    });
    
    var sid = "<%= sid %>"; 
    socket.emit('join session chat room', {sid: sid}); //join chat for everyone in session
    socket.emit('find game room', {sid:sid}); //find game room (pair with one other user in session)
    
    var formSubmit = function() {
      var choice = $("input[name='choice']:checked").val();
      $("input[name='choice']:checked").prop('checked', false); //unselect selected radio button (to reset for next round)
      $.post('/postchoice', {choice: choice, round: round});
      $('#playscreen').hide();
      $('#waitingscreen').show();
      var player = "<%= player %>"
      socket.emit('made choice', {player: player, room: gameroom});
      
      //new stuff //
      mychoices.push(choice);
      //////////////
      
      
      round++;
    };
    
    socket.on('your turn', function() {
      round++;
      if (round > 4) {
        socket.emit('last round played', {room: gameroom});
        endGame();
      } else {
        if (round == 1 || round == 2) {
          $("#gamename").html("Evade");
        } else if (round == 3 || round == 4) {
          $("#gamename").html("Find");
        }
      
        $('#playscreen').show();
        $('#waitingscreen').hide();	
      }
    });
    
    socket.on('end game', function() {
      endGame();
    });
    
    function endGame() {
      var cs = {round1: 0, round2: 0, round3: 0, round4: 0};
      $.post('/postchoice', {round: 5}, function(data) {
        cs.round1 = data.choices.round1;
        cs.round2 = data.choices.round2;
        cs.round3 = data.choices.round3;
        cs.round4 = data.choices.round4;
        
        $('#playscreen').hide();
        $('#waitingscreen').hide();
        $('#resultsscreen').show();
      
        $('#choice1').html(cs.round1);
        $('#choice2').html(cs.round2);
        $('#choice3').html(cs.round3);
        $('#choice4').html(cs.round4);
      
        if (cs.round1 === cs.round2) {
          $('#evadeWinner').text('Seeker');
        } else {
          $('#evadeWinner').text('Hider');
        }
      
        if (cs.round3 === cs.round4) {
          $('#findResult').text('win');
        } else {
          $('#findResult').text('lose');
        }
      });
      
    }
    
  </script> 

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>