<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Session Name</th>
        <th scope="col">Type</th>
        <th scope="col">Private</th>
        <th scope="col">Creator</th>
      </tr>
    </thead>
    <tbody>
      <% for (i = 0; i < sessions.length; i++) { %>
        <tr class="clickable-row" data-sid=<%= sessions[i].sessionid %>>
          <th scope="row"><%= sessions[i].sessionname %></th>
          <td><%= sessions[i].gametype %></td>
          <td><%= sessions[i].privateSession %></td>
          <td><%= sessions[i].creatornick %></td>
        </tr>
      <% } %>
    </tbody>
</table>